*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  width: 1000px;
  margin: auto;
  margin-top: 100px;
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
  font-size: 25px;
  background-color: rgb(253, 197, 125);
}

.card {
  position: relative;
  display: flex;
  list-style: none;
}

.cloud-picture {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 20px;
}

.cloud {
  width: 420px;
  height: 240px;
  display: flex;
  justify-content: flex-end;

}

.tittle {
  position: absolute;
  z-index: 1;
  margin-top: 70px;
  margin-left: 30px;
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
}

.monstr {
  display: flex;
  object-fit: cover;
}

.text {
  margin-left: 20px;
  padding: 20px;
  text-align: justify;
  font-size: 23px;
  border: 10px dotted white;
}

.accent {
  font-weight: 700;
}

.phrase { 
  border: 10px dotted white;
  padding: 20px;
  text-align: justify;
  font-size: 23px;
  margin-bottom: 100px;
}

