*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  width: 800px;
  margin: auto;
  margin-top: 50px;
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
  font-size: 25px;
  background-color:#FF69B4;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.cloud-picture {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.cloud {
  width: 320px;
  height: 200px;
}

.tittle {
  position: absolute;
  z-index: 1;
margin-top: 50px;
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
}

.pig {
  display: flex;
  width: 320px;
  height: 200px;
  margin-left: 100px;
  object-fit: cover;
}

.text {
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 10px;
  padding: 25px;
  text-align: justify;
  background-color: white;
}

.accent {
  color: #FF1493;
  font-weight: 700;
  text-transform: uppercase;
}

.rules {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-right: 30px;
  margin-left: 30px;
  border: 10px dotted white;
  font-weight: 10;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
}

.rules-text {
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 10px;
  padding: 25px;
  text-align: justify;
  background-color: white;
}

.task {
  display: flex;
  margin-right: 30px;
  margin-left: 30px;
  border: 10px dotted white;
  padding: 20px;
  font-weight: 600;
  text-align: center;
}

.footer-photo {
  position: relative;
  display: flex;
  justify-content: center;
}

.photo {
  width: 720px;
  height: 530px;
}

.tagline {
  position: absolute;
  display: flex;
  color: #FF1493;
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;

}

.prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  line-height: 5px;
}



